<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="/public/css/globals.css" />
	</head>
	<body>
		<nav>
			<a class="buttons" href="/">Home</a>
			<div id="nameofsite">&#8756Caviar Club&#8756</div>
			<div>
				{{#if username}}
					<a id="createReview" class="buttons" href="/create/restaurant/">Create Review</a>
					<a class="buttons" href="/auth/logout">Logout</a>
					<a class="buttons" href="/view/user/{{userId}}">{{username}}</a>
				{{else}}
					<a class="buttons" href="/auth/login">Login</a>
					<a class="buttons" href="/auth/signup">Sign Up</a>
				{{/if}}

			</div>
		</nav>
		<br>
		<br>
		<br>
		<main>
			{{{body}}}
		</main>
		{{#if username}}
			<p>Current User: {{username}}</p>
		{{/if}}
	</body>
</html>