<link rel="stylesheet" href="/public/css/create/review.css" />
<!--https://stackoverflow.com/questions/10004723/html5-input-type-range-show-range-value-->
<div id="errors">
	{{#if error}}
		<p class="error">{{error}}</p>
	{{/if}}
</div>
<form action="new" method="POST" name="create-review-form" id="create-review-form">
    <label for="title">Review title:
		<input
			type="text"
			name="title"
			id="title"
            value="{{prevSub.title}}"
		/>
	</label> <br>
    <label for="rating">Rating:</label> <br>
    <input
			type="range"
            min="0" max="5" step=".1" oninput="this.nextElementSibling.value = this.value"
            
			name="rating"
			id="rating"
			{{#if prevSub.rating}}value="{{prevSub.rating}}"{{/if}}
		/>
        <input id="actualRating" readonly value="{{prevSub.rating}}"></input>
    <p id="tagP">Optional tags:</p>
    <input type="text" name="tag1" id="tag1" class="tags" {{#if prevSub.tag1}}value="{{prevSub.tag1}}"{{/if}}/>
    <input type="text" name="tag2" id="tag2" class="tags" {{#if prevSub.tag2}}value="{{prevSub.tag2}}"{{/if}}/>
    <input type="text" name="tag3" id="tag3" class="tags" {{#if prevSub.tag3}}value="{{prevSub.tag3}}"{{/if}}/>
    <br>
    <label for="content">Review:
        <textarea 
            class="scrollable-textarea" name="content"
			id="content"
            {{#if prevSub.content}}value="{{prevSub.content}}"{{/if}}></textarea>
	</label> <br>
    <label for="image">Select photo:
        <input
            type="file"
            id="image"
            name="image"
            accept="image/png"
            {{#if prevSub.value}}value="{{prevSub.value}}"{{/if}}
        />
    </label> <br>
    <input type="hidden" name="imageBase64" id="imageBase64">
    <button type="submit" name="submitButton" id="submitButton">Leave a review!</button>
</form>
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src='/public/js/createReview.js'></script>