<link rel="stylesheet" href=".././public/css/home.css">
<div id="errormsgs">
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
</div>
<article>
    <h1 id="title">Home</h1>
    <div class="errors"></div>
    <form id="sortForm" action="/home" method="POST">
        <label for="sort">Sort by:
            <select id="sort" name="sort">
                <option value="recent" {{#if is0}} selected {{/if}} >Recent</option>
                <option value="alphabetical" {{#if is1}} selected {{/if}}>A-Z</option>
                <option value="rating" {{#if is2}} selected {{/if}}>Rating</option>
            </select>
        </label>
            <button type="submit">Refresh</button>
    </form>
    <ul id="reviewList">
    {{#each reviews}}
        <li class="review">
            <a href="/view/review/{{this._id}}"><img src="data:image/png;base64,{{this.picture}}" class="thumbnail" alt="Image of {{this.dishName}}"> <br> {{this.title}}</a><br>
            Rating: {{this.rating}}<br>
            Posted: {{this.date}}<br>
            A review of: <a href="/view/dish/{{this.dishId}}">{{this.dishName}}</a><br>
            at <a href="/view/restaurant/{{this.restaurantId}}">{{this.restaurantName}}</a><br>
            By: <a href="/view/user/{{this.userId}}">{{this.username}}</a><br>
        </li>
    {{/each}}
    </ul>
</article>
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src='/public/js/home.js'></script>