<link rel="stylesheet" href="/public/css/view/review.css" />
<div id="container">
	<img src="{{review.picture}}" alt="{{review.title}}" />
	<div id="header-container">
		<h1 id="rating">{{review.rating}} <span>out of</span> 5</h1>
		<h1 id="dish-name">{{review.dishname}}</h1>
	</div>
	<div id="info-container">

		<ul id="tags">
			{{#each review.tags}}
				<li class="tag">{{this}}</li>
			{{/each}}
		</ul>
		<a
			id="restaurant-link"
			href="/view/restaurant/{{restaurant._id}}"
		>{{restaurant.name}}</a>

	</div>
	<hr />
	<div id="review-info-container">
		<h2>{{review.title}}</h2>
		<p>
			Author:
			<a
				class="username"
				id="user-link"
				href="/view/user/{{review.userId}}"
			>{{review.username}}</a>
		</p>
		<p id="date">Date: {{review.date}}</p>
	</div>
	<p id="content">
		{{review.content}}
	</p>
	<ul id="comments">
		{{#each review.comments}}
			<li class="comment-item">
				<a
					class="username"
					id="comment-user"
					href="/view/user/{{this.userId}}"
				>{{this.username}}</a>
				<p>{{this.comment}}</p>
			</li>
		{{/each}}
	</ul>
</div>